<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Data Analysis Tool</h1>
        </div>
    </header>
    <div class="container">
        <h2>Upload your CSV/Excel file</h2>
        <form action="{{ url_for('main.upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>